:root {
  --header-start: #047d04;
  --header-end: #99ff99;
  --header-text: black;
  --nav-text: black;
  --main-background: #c8c48f;
  --footer-background: var(--header-start);
  --footer-text: white;
  --card-header: rgb(71, 129, 71);
  --card-background: rgb(205, 205, 125);
  --footer-height: 10ch; /* prevent content overlapping footer */
}

.about-me-content {
  display: flex;
}

.large-quote {
  font-size: x-large;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: center;
  max-width: 70vh;
  margin: 2em auto; /* Center the blockquote and add space around it */
}

.large-quote:before {
  content: open-quote;
}

.large-quote:after {
  content: close-quote;
}

.card {
  background-color: var(--card-background);
  margin: 1ch;
  padding: 5ch;
  display: flex;
  flex-direction: column;
  border-radius: 5ch;
}

.card-header {
  padding-bottom: 2ch;
  display: flex;
  justify-content: space-around;
}

.card-title {
  font-size: xx-large;
  font-weight: bolder;
}

.card-section {
  display: flex;
  flex-direction: row;
}

.card-section-title {
  font-weight: bold;
  min-width: 10ch;
}

.price-strike {
  text-decoration: line-through;
  text-decoration-style: double;
  color: red;
}

.btn {
  padding: 2ch;
  background: orange;
  width: 20ch;
  display: flex;
  justify-content: center;
}

.btn-link {
  text-decoration: none;
  font-weight: bolder;
}

main {
  flex: 1 0 auto;
 }

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-background);
}

body section {
  margin: 20px;
}

table {
  border-collapse: collapse;
  background-color: white;
  border: 1;
  border-style: solid;
  border-color: black;
}

table td {
  border-right: 1;
  border-right-style: solid;
  border-right-color: black;
}

table th {
  border-right: 1;
  border-right-style: solid;
  border-right-color: black;
  border-bottom: 1;
  border-bottom-style: solid;
  border-bottom-color: black;
}

#header {
  background: linear-gradient(to right, var(--header-start), var(--header-end));
  background-size: 200% 200%;
  color: var(--header-text);
  padding: 10px 0;
  text-align: center;
  animation: Gradient 5s ease infinite;
}

header {
  background-color: #333;
  color: var(--header-text);
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: var(--nav-text);
  text-decoration: none;
}

footer {
  background-color: var(--footer-background);
  color: var(--footer-text);
  display: flex;
  text-align: center;
  justify-content: center;
  height: var(--footer-height);
  width: 100%;
}

@keyframes Gradient {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}